<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender class="org.apache.log4j.ConsoleAppender" name="CONSOLE">
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%-5p - %-15.15c{1} - %m%n" name="conversionPattern"/>
        </layout>
    </appender>

    <root>
        <level value="warn"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</log4j:configuration>